
body{
    /* height: 100vh;     */
}

.container{
    margin: 80px auto;
    /* border: 2px solid blueviolet; */
    border-radius: 5px;
    width: 70%;
    text-align: center;
    padding: 15px;
}
.inputfield input{
    width: 60%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid grey;
}
#emailBtn{
    font-size: 18px;
    padding: 5px;
    border: 2px solid #007ACC;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #D3FFE3;
}
#emailBtn:hover{
    color: white;
    background-color: #007ACC;
}